@using TestTask.ViewModels

@model GraftViewModel

@{
    ViewBag.Title = "Add";
}
<link href="/css/graft/add.css" rel="stylesheet" asp-append-version="true" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<div class="content">
    <h1>Добавить прививку</h1>
    <div class="patient-area">Пациент: <span>@Model.PatientFullName</span></div>


    @using (Html.BeginForm("Add", "Graft", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @if (ViewBag.Errors != null)
        {
            <ul class="error-list">
                @foreach (var error in ViewBag.Errors)
                {
                    <li class="error-text">@error</li>
                }
            </ul>
        }
        
        <div class="field-section checkbox-area">
            <input asp-for="Consent" type="checkbox" id="chkbx" />
            <label asp-for="Consent" for="chkbx"></label>
        </div>


        <div class="field-section">
            <label asp-for="Drug"></label>
            <span asp-validation-for="Drug" class="error-text"></span>
            <select asp-for="Drug">
                <option value="">Не выбрано</option>
                <option>Эджерикс</option>
                <option>Вианвак</option>
                <option>АКДС</option>
                <option>БЦЖ</option>
            </select>
        </div>


        <div class="field-section">
            <label asp-for="EventDate"></label>
            <span asp-validation-for="EventDate" id="dateSpan" class="error-text"></span>
            <input asp-for="EventDate" type="text" id="datepicker" />
        </div>

        <input asp-for="PatientId" hidden />

        <div class="aligning-container">
            <input type="submit" class="button" id="submitBtn" value="Добавить" />
        </div>
    }

</div>

<script src="~/js/dateControl.js" asp-append-version="true"></script>